@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
  font-family: 'Noto Sans KR',sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  background-color:rgb(2, 128, 253)
}

a{
  color:#000;
  text-decoration: none;
}

.menu{
  display: flex;
  align-items: center;
  height: 100vh;
}

.menu-list{
  position: relative;
}

.menu-list .item{
  display: block;
  color: white;
  padding: 20px;
  margin-left: 20px;
  font-size: 30px;
  transition: 0.5s;
}

.menu-list:hover a{
  opacity: 0.3;
}

.menu-list a:hover{
  opacity: 1;
}

.menu-list .item:before{
  content: '\f105';
  font-family: fontawesome;
  opacity: 0;
  margin-right: 10px;
}

.menu-list .item:hover:before{
  opacity:1
}